name: Test on Windows

on:
  workflow_dispatch:

jobs:
  tests:
    runs-on: windows-latest
    timeout-minutes: 15

    steps:
    - uses: actions/checkout@v6

    - run: |
        Get-Command git
        Get-Command gpg
        git version
        gpg --version

    - uses: actions/setup-python@v6
      with: {python-version: '3.14', cache: 'pip'}

    - run: |
        pip install -e .[pyqt6,pygments,test,mfusepy]
        pip install pytest-timeout

    - run: python3 test.py --with-network -v --timeout=30 -k "not testUserCommand"
    - run: python3 test.py --with-network -v --timeout=30 -1 -m notParallelizableOnWindows
